<!DOCTYPE html>

{% load staticfiles %} 

<html>


	<head>
		<title>Rango</title>
	</head>
	
	<body>
		<h1>Rango says...</h1>
		<div>
			here is the about page! <br />
			
        </div>
        <div>
			This tutorial has been put together by Thomas McCormick <br />
		</div>
		<div>
			<a href="http://127.0.0.1:8000">Home</a><br />
			<img src="{% static "images/michaelscott.jpg" %}"alt="Picture of Michael Scott" />
        </div>
        <div>
            <img src="{{MEDIA_URL}}cat.jpg" />
        </div>
	</body>
</html>